<div class="row d-flex justify-content-center">
    <div class="col-sm-6">
        <label for="exampleFormControlInput1" class="form-label">Catgirl Number</label>
        <form class="row g-3">
            <div class="col-sm-10">
                <label for="inputPassword2" class="visually-hidden">Catgirl Number</label>
                <input [(ngModel)]="catgirlNumber" name="catgirlNumber" type="number" class="form-control" placeholder="Ex: 69420">
            </div>
            <div class="col-sm-2">
                <button (click)="getCatgirl()" class="btn btn-primary mb-3">Search</button>
            </div>
        </form>
        <div *ngIf="error" class="text text-danger d-flex justify-content-center">{{ error }}</div>
        <div class="row">
            <div class="mb-2 col-sm-12 btn-group d-flex justify-content-center" role="group">
                <button (click)="getSpecificName(150228)" type="button" style="max-width: 100px; min-width: 100px;"  class="btn btn-outline-primary">Mittsy</button>
                <button (click)="getSpecificName(109816)" type="button" style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary">Celeste</button>
                <button (click)="getSpecificName(97867)" type="button" style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary">Rin</button>
                <button (click)="getSpecificName(126958)" type="button" style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary">Hana</button>
            </div>
            <div class="col-sm-12 btn-group d-flex justify-content-center" role="group">
                <button (click)="getSpecificName(98794)" type="button" style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary">Aoi</button>
                <button (click)="getSpecificName(125201)" type="button" style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary">Kita</button>
                <button (click)="getSpecificName(100804)" type="button" style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary">Lisa</button>
                <button (click)="getSpecificName(109787)" type="button" style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary">Mae</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="catgirl" class="row">
    <hr class="mt-3">
    <div class="col-sm-12 col-lg-6 text-center">
        <img [src]="catgirl.src" class="img-fluid catgirl-big mt-5">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
        <h3><strong>{{ catgirl?.name }}</strong> <span class="badge rounded-pill float-end" [ngClass]="getRarityClass(catgirl)">{{getRarity(catgirl)}}</span></h3>
        <h4>Nya Score: {{ catgirl?.nyaScore }}</h4>
        <hr>
        <h4>Owned: {{catgirl?.total | number }}/{{total | number}} ({{catgirl?.total / total | percent:'.3'}})</h4>
        <hr>
        <h4>NFTRADE: <small style="font-size: small;">(recent {{recentAveragePrice?.count}}/100 sold listing)</small></h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-1" style="width: 100%;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2">Recent Listing <span class="text-muted float-end">{{ recentNFTListing?.listedAt | date:'short'}}</span></h6>
                        <div *ngIf="recentNFTListing">
                            <div class="row">
                                <div class="col-sm-6">Price: {{ recentNFTListing?.price }} BNB</div>
                                <div class="col-sm-6">Nya Score: {{ recentNFTListing?.catgirlDetails?.nyaScore }}</div>
                            </div>
                        </div>

                        <div *ngIf="!recentNFTListing" class="row">
                            <div class="text text-danger">No recent listings nya~</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card mb-1" style="width: 100%;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2">Recent Sold <span class="text-muted float-end">{{ recentNFTSold?.last_sell_at | date:'short'}}</span></h6>
                        <div *ngIf="recentNFTSold != null">
                            <div class="row">
                                <div class="col-sm-6">Price: {{ recentNFTSold?.last_sell }} BNB</div>
                                <div class="col-sm-6">Nya Score: {{ recentNFTSold?.catgirlDetails?.nyaScore }}</div>                           
                            </div>
                        </div>

                        <div *ngIf="!recentNFTSold" class="row">
                            <div class="text text-danger">No recent sellings nya~</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card mb-1" style="width: 100%;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2">Recent Highest Sold<span class="text-muted float-end">{{ recentHighestNFTSold?.last_sell_at | date:'short'}}</span></h6>
                        <div *ngIf="recentNFTSold">
                            <div class="row">
                                <div class="col-sm-6">Price: {{ recentHighestNFTSold?.last_sell }} BNB</div>
                                <div class="col-sm-6">Nya Score: {{ recentHighestNFTSold?.catgirlDetails?.nyaScore }}</div>                           
                            </div>
                        </div>

                        <div *ngIf="!recentNFTSold" class="row">
                            <div class="text text-danger">No recent sellings nya~</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="card mb-1" style="width: 100%;">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2">Nya Score Sold</h6>
                            <div *ngIf="recentAveragePrice" class="row">
                                <div class="col-sm-6"> 
                                    Highest: {{ highestNya?.catgirlDetails?.nyaScore}} @ {{ highestNya?.last_sell }} BNB
                                </div> 
                                <div class="col-sm-6"> 
                                    Lowest: {{ lowestNya?.catgirlDetails?.nyaScore}} @ {{ lowestNya?.last_sell }} BNB
                                </div> 
                            </div>
                            <div *ngIf="!recentAveragePrice" class="row">
                                <div class="text text-danger">No recent sellings nya~</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="card mb-1" style="width: 100%;">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2">Recent Average Sold Price</h6>
                            <div *ngIf="recentAveragePrice" class="row">
                                <div class="col-sm-12">Average Price: {{ (recentAveragePrice?.total / recentAveragePrice?.count) | number: '1.1-3' }} BNB 
                                    <span><small class="text-muted">({{recentAveragePrice?.total | number: '1.1-3'}} / {{recentAveragePrice?.count}})</small></span>
                                </div> 
                            </div>
                            <div *ngIf="!recentAveragePrice" class="row">
                                <div class="text text-danger">No recent sellings nya~</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
