<div class="row d-flex justify-content-center">
    <div class="col-sm-6">
        <label for="exampleFormControlInput1" class="form-label">Catgirl Number</label>
        <form class="row g-3">
            <div class="col-sm-10">
                <label for="inputPassword2" class="visually-hidden">Catgirl Number</label>
                <input [(ngModel)]="catgirlNumber" name="catgirlNumber" type="number" class="form-control" placeholder="Ex: 69420">
            </div>
            <div class="col-sm-2">
                <button (click)="getCatgirl()" class="btn btn-primary mb-3">Search</button>
            </div>
        </form>
        <div *ngIf="error" class="text text-danger d-flex justify-content-center">{{ error }}</div>
    </div>
</div>

<div *ngIf="catgirl" class="row">
    <div class="col-sm-6 d-flex justify-content-center">
        <img [src]="catgirl.src" class="img-fluid" class="catgirl-big">
    </div>
    <div class="col-sm-4">
        <h3><strong>{{ catgirl.name }}</strong> <span class="badge rounded-pill float-end" [ngClass]="getRarityClass(catgirl)">{{getRarity(catgirl)}}</span></h3>
        <h4>Nya Score: {{ catgirl.nyaScore }}</h4>
        <hr>
        <h4>Owned: {{catgirl.total | number }}/{{total | number}} ({{catgirl.total / total | percent:'.3'}})</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-1" style="width: 100%;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2">Recent Listing <span class="text-muted float-end">Listed: {{ recentNFTListing.listedAt | date:'short'}}</span></h6>
                        <div class="row">
                            <div class="col-sm-6">Price: {{ recentNFTListing.price }} BNB</div>
                            <div class="col-sm-6">Nya Score: {{ recentNFTListing.catgirlDetails.nyaScore }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card mb-1" style="width: 100%;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2">Recent Sold <span class="text-muted float-end">Sold: {{ recentNFTSold.last_sell_at | date:'short'}}</span></h6>
                        <div class="row">
                            <div class="col-sm-6">Price: {{ recentNFTSold.last_sell }} BNB</div>
                            <div class="col-sm-6">Nya Score: {{ recentNFTSold.catgirlDetails.nyaScore }}</div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="card mb-1" style="width: 100%;">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2">Average Sale</h6>
                            <div class="row">
                                <div class="text-muted">Comming Soon nya~</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
