<div class="row">
    <div class="d-flex justify-content-center mb-2">
        <button [disabled]="isDisable" class="btn btn-primary me-2" type="button" (click)="sortRecentlyListed()">Recently Listed</button>
        <button [disabled]="isDisable" class="btn btn-primary" type="button" (click)="sortLowestPriceAsc()">Price: Lowest to Highest</button>
        <button [disabled]="isDisable" class="btn btn-primary ms-2" type="button" (click)="sortHighestNyaDesc()">Nya Score: Highest to Lowest</button>
        <i (click)="refreshListing()" style="font-size: 30px;" [ngStyle]="{'visibility': isDisable ? 'hidden' : '' }" class="fa fa-refresh text text-primary mt-1 ms-2 clickable" aria-hidden="true"></i>
        <span (click)="clear()" class="btn btn-link">Clear</span>
    </div>
    <div class="row mb-3">
        <div class="mb-2 col-sm-12 btn-group d-flex justify-content-center" role="group">
            <input [(ngModel)]="mittsyCheck" [disabled]="isDisable"  (click)="applyFilter({rarity: 4, characterId: 0})" type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary" for="btncheck1">Mittsy</label>
            <input [(ngModel)]="celesteCheck" [disabled]="isDisable"  (click)="applyFilter({rarity: 3, characterId: 0})" type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
            <label style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary" for="btncheck2">Celeste</label>
            <input [(ngModel)]="rinCheck" [disabled]="isDisable"  (click)="applyFilter({rarity: 2, characterId: 1})" type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary" for="btncheck3">Rin</label>
            <input [(ngModel)]="hanaCheck" [disabled]="isDisable"  (click)="applyFilter({rarity: 2, characterId: 0})" type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
            <label style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary" for="btncheck4">Hana</label>
        </div>
        <div class="mb-2 col-sm-12 btn-group d-flex justify-content-center" role="group">
            <input [(ngModel)]="aoiCheck" [disabled]="isDisable"  (click)="applyFilter({rarity: 1, characterId: 1})" type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
            <label style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary" for="btncheck5">Aoi</label>
            <input [(ngModel)]="kitaCheck" [disabled]="isDisable"  (click)="applyFilter({rarity: 1, characterId: 0})" type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
            <label style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary" for="btncheck6">Kita</label>
            <input [(ngModel)]="lisaCheck" [disabled]="isDisable"  (click)="applyFilter({rarity: 0, characterId: 1})" type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
            <label style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary" for="btncheck7">Lisa</label>          
            <input [(ngModel)]="maeCheck" [disabled]="isDisable"  (click)="applyFilter({rarity: 0, characterId: 0})" type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
            <label style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary" for="btncheck8">Mae</label>
        </div>       
        <div class="mb-2 col-sm-12 btn-group d-flex justify-content-center" role="group">
            <input [(ngModel)]="nfTradeCheck" [disabled]="isDisable" selected (click)="changeListing(1)" type="checkbox" class="btn-check" id="btncheck9" autocomplete="off">
            <label style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary" for="btncheck9">NfTrade</label>
            <input [(ngModel)]="tofuNFTCheck" [disabled]="isDisable"  (click)="changeListing(2)" type="checkbox" class="btn-check" id="btncheck10" autocomplete="off">
            <label style="max-width: 100px; min-width: 100px;" class="btn btn-outline-primary" for="btncheck10">TofuNFT</label>
        </div>   
        <div *ngIf="tofuNFTCheck" class="col-sm-12 btn-group d-flex justify-content-center" role="group">
            <button class="btn btn-outline-primary" style="max-width: 100px; min-width: 100px; font-size: 12px;" [disabled]="isDisable" (click)="toggleAuction()" type="checkbox" autocomplete="off">
                Hide Auction
            </button>
        </div>       
    </div>

    <!-- <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <span *ngIf="recentListing?.length">Promoted Trades: {{filterCount}}</span>
        </div>
    </div> -->

    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <span class="me-2" *ngIf="recentListing?.length">NfTrade: {{filterNfTradeCount}} \ 800</span>
            <span *ngIf="recentListing?.length">Tofu: {{filterTofuCount}} \ 1000</span>
        </div>
    </div>

    <ng-container *ngFor="let trade of recentListing">
        <ng-container *ngIf="listing == 1">
            <div *ngIf="trade.show" class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div (click)="goToNFT(trade)" class="card mb-3 clickable hover-border">
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2 text-muted">{{ getCatgirlName(trade.catgirlDetails) }}<span class="float-end mt-1" style="font-size: 12px;">{{getType(trade)}} <i class="fa fa-external-link"></i></span></h5>
                        <h5 class="card-subtitle mb-2 text-muted">#{{trade.tokenID}}</h5>           
                        <span class="card-subtitle mb-2 text-muted" style="font-size: small;">{{ trade.listedAt | date:'short' }}</span>           
                        <div>
                            <span class="float-left">{{ trade.catgirlDetails.nyaScore }} Nya</span>
                            <span class="float-end">{{ trade.price | number:'1.1-3' }} BNB</span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngFor="let trade of recentTofuListing">
        <ng-container *ngIf="listing == 2">
            <div *ngIf="trade.show" class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div (click)="goToNFT(trade)" class="card mb-3 clickable hover-border">
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2 text-muted">{{ getCatgirlName(trade.catgirlDetails) }}<span class="float-end mt-1" style="font-size: 12px;">{{getType(trade)}} <i class="fa fa-external-link"></i></span></h5>
                        <h5 class="card-subtitle mb-2 text-muted">#{{trade.tokenID}}<span *ngIf="trade.sellType == 'auction'" class="text-muted float-end" style="font-size: 12px;">Auction</span> </h5>                                           
                        <span class="card-subtitle mb-2 text-muted" style="font-size: small;">{{ trade.listedAt | date:'short' }}</span>           
                        <div>
                            <span class="float-left">{{ trade.catgirlDetails.nyaScore }} Nya</span>
                            <span class="float-end">{{ trade.price | number:'1.1-3' }} BNB</span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
