<div class="container">
  <div class="row" style="margin-top: 25px;">
    <div *ngIf="selectedCatgirl" class="d-flex justify-content-center">
      <div *ngIf="selectedCatgirl.src">
        <img [src]="selectedCatgirl.src" class="img-fluid" class="catgirl">
      </div>
      <!-- <video playsinline autoplay loop muted *ngIf="selectedCatgirl.id == '4:0'" class="catgirl">
        <source [src]="selectedCatgirl.mp4" type="video/mp4" />
      </video>
      <video playsinline autoplay loop muted *ngIf="selectedCatgirl.id == '3:0'" class="catgirl">
        <source [src]="selectedCatgirl.mp4" type="video/mp4" />
      </video> -->
    </div>
  </div>
  <div class="row">
    <h2><span class="d-flex justify-content-center">TOTAL CATGIRLS: {{ total | number }}</span></h2>
  </div>
  <div class="row">
    <div class="col-sm-3" *ngFor="let catgirl of CATGIRLS | sort:'desc' : 'rank'">
      <div class="card clickable" [ngClass]="getBorderHover(catgirl)" (click)="selectCatgirl(catgirl)" style="margin-bottom: 10px;">
        <div class="card-body">
          <h4 class="card-title">{{catgirl.name}}</h4>
          <h6>
            <span class="badge rounded-pill bg-primary">S{{getSeason(catgirl)}} - {{getType(catgirl)}}</span> 
            <span class="badge rounded-pill float-end" [ngClass]="getRarityClass(catgirl)">{{getRarity(catgirl)}}</span> 
          </h6>
          <h5 class="card-text">{{catgirl.total | number }} | {{catgirl.total / total | percent:'.3'}}</h5>
        </div>
      </div>
    </div>
  </div>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">CATGIRL ~ NYA NYA</p>

    <a href="https://www.catgirl.io/" target="_blank" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="../assets/logo/catgirl_logo.png" style="height: 50px; width: 50px;"/>
    </a>

    <ul class="nav col-md-4 justify-content-end text-muted">
      <div class="d-flex justify-content-center">
        <small>Send CGC or BNB tip to:</small>
      </div>
      <div class="d-flex justify-content-center">
        <small>0xa119a6F239fEF7b429Fd89C43f0BF227C5C831Cb</small>
      </div>  
    </ul>
  </footer>
</div>