<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light nav-color">
    <div class="container-fluid">
      <span class="navbar-brand clickable" [routerLink]="['/']">Catgirl Stats</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul *ngIf="!mobile" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <span class="nav-link clickable" [routerLink]="['/search']">Catgirl Search</span>
          </li>
          <li class="nav-item">
            <span class="nav-link clickable" [routerLink]="['/nft-listing']">NFT Listings</span>
          </li>
          <li class="nav-item">
            <span class="nav-link clickable" [routerLink]="['/nya-scores']">Nya Scores</span>
          </li>
          <li class="nav-item">
            <span class="nav-link clickable" [routerLink]="['/sales-analysis']">Sales Analysis</span>
          </li>
        </ul>
        <ul *ngIf="mobile" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <span class="nav-link clickable" data-bs-toggle="collapse" data-bs-target="#navbarText" [routerLink]="['/search']">Catgirl Search</span>
          </li>
          <li class="nav-item">
            <span class="nav-link clickable" data-bs-toggle="collapse" data-bs-target="#navbarText" [routerLink]="['/nft-listing']">NFT Listings</span>
          </li>
          <li class="nav-item">
            <span class="nav-link clickable" data-bs-toggle="collapse" data-bs-target="#navbarText" [routerLink]="['/nya-scores']">Nya Scores</span>
          </li>
          <li class="nav-item">
            <span class="nav-link clickable" data-bs-toggle="collapse" data-bs-target="#navbarText" [routerLink]="['/sales-analysis']">Sales Analysis</span>
          </li>
        </ul>
        <span class="navbar-text">
          <span (click)="copyAddress()" class="me-auto" style="font-size: 15px;">
            <span *ngIf="isCopied">Copied! </span>
            <span *ngIf="!isCopied">Student loans comming back... Pls donate :( <3 :</span>
              <span class="clickable" style="text-decoration: underline;">
                0xa119a6F239fEF7b429Fd89C43f0BF227C5C831Cb <i class="ms-1 mt-1 fa fa-copy"></i>
              </span>
            </span>
        </span>
      </div>
    </div>
  </nav>
  <div style="margin-top: 10px;">
    <router-outlet></router-outlet>
  </div>


  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

    <div class="col-md-4 mb-0 text-muted">
      <div class="row">
        <span class="text text-muted">Discord: ghoulboy#6699</span>
      </div>
      <div class="row">
        
        
      </div>
    </div>

    <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <a class="text text-muted me-3" href="https://twitter.com/ghlboy"><i style="font-size: 36px" class="icon-twitter"></i></a>
      <a href="https://www.catgirl.io/" target="_blank" >
        <img src="../assets/logo/catgirl_logo.png" style="height: 50px; width: 50px;"/>
      </a>
      <a class="text text-muted" href="https://twitch.com/ghoulboy"><i style="font-size: 36px" class="fa fa-twitch ms-3"></i></a>
    </div>


    <ul class="nav col-md-4 justify-content-end text-muted">
      <div class="d-flex justify-content-center">
        <small *ngIf="!isCopied">Student loans comming back... Pls donate :( <3</small>
        <small *ngIf="isCopied">Copied! thank you ~</small>
      </div>
      <div (click)="copyAddress()" class="clickable d-flex justify-content-center">
        <small>0xa119a6F239fEF7b429Fd89C43f0BF227C5C831Cb</small>
        <i class="ms-1 mt-1 fa fa-copy"></i>
      </div>  
    </ul>
  </footer>
</div>