/* You can add global styles to this file, and also import other style files */
// .nav-color {
//     background-color: #FFF;
//     color: black;
// }

.nav-link {
    color: black;
}

.epic {
    background-color: purple
}

.legendary {
    background-color: gold
}

.pawsome {
    background-color: hotpink
}

.clickable {
    cursor: pointer;
}

.catgirl {
    max-height: 300px; 
    max-width: 300px; 
    min-height: 300px;
}

.catgirl-big {
    max-height: 500px; 
    max-width: 500px; 
    min-height: 500px;
}

@media only screen and (max-width: 600px) {
    .catgirl-big {
        max-height: 412px; 
        max-width: 412px; 
        min-height: 412px;
    }
}

@media only screen and (max-width: 550px) {
    .small-screen-text {
        font-size: 12px;
    }
}

@media only screen and (max-width: 415px) {
    .xsmall-screen-text {
        font-size: 8px;
    }
}

@media only screen and (max-width: 400px) {
    .xxsmall-screen-text {
        font-size: 5px;
    }
}

.common-border:hover {
    box-shadow: 0 0px 5px 0 grey, 0 1px 10px 0 grey, 0 2px 4px -1px grey;
}
.rare-border:hover {
    box-shadow: 0 0px 5px 0 lightblue, 0 1px 10px 0 lightblue, 0 2px 4px -1px lightblue;
}
.epic-border:hover {
    box-shadow: 0 0px 5px 0 plum, 0 1px 10px 0 plum, 0 2px 4px -1px plum;
}
.legendary-border:hover {
    box-shadow: 0 0px 5px 0 rgb(247, 226, 110), 0 1px 10px 0 rgb(247, 226, 110), 0 2px 4px -1px rgb(247, 226, 110);
}
.pawsome-border:hover {
    box-shadow: 0 0px 5px 0 pink, 0 1px 10px 0 pink, 0 2px 4px -1px pink;
}

.hover-border:hover {
    box-shadow: 0 0px 5px 0 rgb(13,110,253), 0 1px 10px 0 rgb(13,110,253), 0 2px 4px -1px rgb(13,110,253);
}

.pulse {
    -webkit-animation: color_change 3s infinite alternate;
    -moz-animation: color_change 3s infinite alternate;
    -ms-animation: color_change 3s infinite alternate;
    -o-animation: color_change 3s infinite alternate;
    animation: color_change 3s infinite alternate;
   }
   
   @-webkit-keyframes color_change {
    from { color: lightpink; }
    to { color: white; }
   }
   @-moz-keyframes color_change {
    from { color: lightpink; }
    to { color: white; }
   }
   @-ms-keyframes color_change {
    from { color: lightpink; }
    to { color: white; }
   }
   @-o-keyframes color_change {
    from { color: lightpink; }
    to { color: white; }
   }
   @keyframes color_change {
    from { color: lightpink; }
    to { color: white; }
   }

    